@import "../../styles/mixins/mixins";

.card {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  @include md {
    max-width: 100%;
  }
  &_wrapper {
    display: flex;
    flex-flow: column;
    border: 1px solid #bebebe;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 0 3px 2px #00000014;
    height: 100%;
  }
  &_img {

    picture {
      display: block;
      img {
        height: 11rem;
        width: 100%;
        object-fit: cover;
        display: block;

      }
    }
  }
  &_text {
    padding: 1rem;
    background-color: #ffffff;
    height: 100%;
    display: flex;
    flex-flow: column;
    &_title-price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

    }
    &_title {
      font-size: 1rem;
    }
    &_price {
      color: #D93B3B;
    }
    &_desc {
      margin-bottom: 1rem;
      p {
        font-size: .75rem;
      }
    }
  }
  .go-to-cart {
    position: absolute;
    left: calc( 50% - 1rem );
    top: -1rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--brand-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    @include lg {
      left: -1rem;
      top:-1rem;
    }
    svg {
      width: 1rem;
      height: 1rem;
      @include lg {
        width: .75rem;
        height: .75rem;
      }
    }
  }
  &_add-to-cart {
    margin-top: auto;
  }
}
