@import "../../styles/mixins/mixins";
.header {
  padding: .5rem 0;
  position: relative;
  z-index: 5;

  &_group {
    display: flex;
    align-items: center;

  }
  &_logo {
    picture {
      img {
        max-width: 100%;
      }
    }
  }
  &_nav {
    margin-left: auto;
    position: absolute;
    top:100%;
    left: 0;
    right: 0;
    background: #ffffff;
    display: none;
    &.mobile-menu-active {
      display: block;
    }

    @include md {
      position: static;
      display: block;
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-flow: column;
      @include md {
        flex-flow: row;
      }
      li {
        position: relative;
        margin-bottom: 1rem;
        @include md {
          margin-bottom: 0;
          &:not(:first-child) {
            margin-left: 1rem;
          }
        }
        @include lg {
          &:not(:first-child) {
            margin-left: 2rem;
          }
        }

        .in-cart {
          position: absolute;
          right: -.5rem;
          top: -.2rem;
          font-size: .5rem;
          background-color: var(--brand-yellow);
          border-radius: 1rem;
          padding: .1rem .3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 0 1px 0px #000000d1;
        }
        a {
          font-size: 1.5rem;
          text-decoration: none;
          color: #000000;
          @include md {
            font-size: .85rem;
          }
          @include lg {
            font-size: .9rem;
          }
          &.active {
            color: var(--brand-yellow);
          }
        }
      }
    }
  }


  .mobile-menu-toggler {
    display: block;
    margin-left: auto;
    border: navajowhite;
    background: #fff;
    padding-left: 1rem;
    @include md {
      display: none;
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

}
